html,body{
	margin:0;
	padding:0;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

body {
  font-family: 'Calibri',Arial,Verdana;
  transition : all linear 0.2s;
  font-size:20px;
  padding-bottom:20px;
}
h1,h2,h3,h4,h5{
  font-family: 'Dosis';
}
a {
  color:#3D5577;
}

#footer{
	width:100%;
	text-align:center;
	position:fixed;
	height:20px;
	bottom:0px;
	color:#cecece;
}
#pluginList{
	
}
#pluginList li{
	border-bottom:1px solid #cecece;
	padding:15px;
}
#pluginList li h1{
	display:inline-block;
	font-size:20px;
	margin-bottom:5px;
	color:#222222;
}
#pluginList li small,#pluginList li p{
	display:inline-block;
	font-size:14px;
	color:#cecece;
}
#pluginList li label,#pluginList li i{
	float:right;
	margin-left:15px;
}
#pluginList li p{
	display:block;
	margin:5px 0;
	color:#ADADAD;
	font-size:20px;
}
#pluginList li i{
	cursor:pointer;
}
#pluginList li a{
	text-decoration:underline;
}
#editor {
  background-color : #ffffff;
  min-height: 150px;
  width: 1000px;
  overflow: auto;
  padding: 1em;
  margin: 20px auto;
  resize: vertical;
  outline: none;
}

#tabs{
	background:#ffffff;
}
#tabs li{
  display:inline-block;
  padding:20px;
  list-style-type: none;
  color:#222222;
  font-family: 'Dosis';
  font-size: 20px;
  cursor: pointer;
  transition:color 0.2s linear,background 0.2s linear;
}

#tabs li:hover{
	background:#3D5577;
	color:#ffffff;
}

.toolbar {
  text-align: center;
  width: 100%;

  background:#3D5577;
  list-style-type:none;
}
.toolbar li{
	display:inline-block;
	padding:10px;
	cursor:pointer;
	font-size:24px;
	background:#3D5577;
	color:#cecece;
	transition:color 0.2s linear,background 0.2s linear;
}
.toolbar li.separator{
	background:none;
	padding:2px;
}

.toolbar li:hover{
	color:#ffffff;
	background:#4F6C93;
}

.clear{
	clear:both;
}


